<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css" media="screen" />
  <link rel="stylesheet" href="css/style-dark.css" media="screen and (prefers-color-scheme: dark)" />
  <title>Homepage</title>
</head>
<body>
  <h2>Coming Soon</h2>

  <a href="/login">login</a>
</body>
</html>